@page "/perfil/details/{id}"

<PageTitle>Detalhamento do Perfil</PageTitle>
<h3>Detalhamento do Perfil</h3>

<div class="row">
    <div class="col">
        <label for="nome" class="form-label">Nome: </label>
        <span>@Perfil.Nome</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="cnpjcpf" class="form-label">Descrição: </label>
        <span>@Perfil.Descricao</span>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <a @onclick="@GoToPerfis" class="btn btn-outline-primary">Voltar</a>
    </div>
    <div class="col-2">
        <a @onclick="@GoToUpdate" class="btn btn-info">Alterar</a>
    </div>
    <div class="col-2">
        <a @onclick="@Delete" class="btn btn-danger">Excluir</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <p style="color: red">@Mensagem</p>
    </div>
</div>