@page "/permissao/details/{id}"
@rendermode InteractiveServer

<PageTitle>Detalhamento da Permissão</PageTitle>
<h3>Detalhamento da Permissão</h3>

<div class="row">
    <div class="col">
        <label for="sistema" class="form-label">Sistema: </label>
        <span>@Permissao.Sistema</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="perfil" class="form-label">Perfil: </label>
        <span>@Permissao.Perfil</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="ativo" class="form-label">Ativo: </label>
        <span>@(Permissao.Acessar ? "Sim" : "Não")</span>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <a @onclick="@GoToPermissoes" class="btn btn-outline-primary">Voltar</a>
    </div>
    <div class="col-2">
        <a @onclick="@Delete" class="btn btn-danger">Excluir</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <p style="color: red">@_mensagem</p>
    </div>
</div>