@page "/usuario/details/{id}"
@rendermode InteractiveServer

<PageTitle>Detalhamento do Usuário</PageTitle>
<h3>Detalhamento do Usuário</h3>

<div class="row">
    <div class="col">
        <label for="nome" class="form-label">Nome: </label>
        <span>@Usuario.Nome</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="cnpjcpf" class="form-label">CPF</label>
        <span>@Usuario.CnpjCpf</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="celular" class="form-label">Telefone Celular</label>
        <span>@Usuario.Celular</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="email" class="form-label">Email</label>
        <span>@Usuario.Email</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="login" class="form-label">Login</label>
        <span>@Usuario.Login</span>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <a @onclick="@GoToUsuarios" class="btn btn-outline-primary">Voltar</a>
    </div>
    <div class="col-2">
        <a @onclick="@GoToUpdate" class="btn btn-info">Alterar</a>
    </div>
    <div class="col-2">
        <a @onclick="@Delete" class="btn btn-danger">Excluir</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <p style="color: red">@_mensagem</p>
    </div>
</div>