@attribute [StreamRendering]

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Dados
            </div>
            <div class="card-body">

                <EditForm Model="@Model" OnValidSubmit="OnValidateSubmit">
                    <DataAnnotationsValidator />
                    <div class="mb-3">
                        <label for="nome" class="form-label"><em>*</em>Nome</label>
                        <InputText class="form-control" @bind-Value="@Model.Nome"></InputText>
                        <ValidationMessage For="@(() => Model.Nome)" />
                    </div>
                    <div class="mb-3">
                        <label for="cnpjcpf" class="form-label"><em>*</em>CPF</label>
                        <InputText class="form-control" @bind-Value="@Model.CnpjCpf" placeholder="000.000.000-00"></InputText>
                        <ValidationMessage For="@(() => Model.CnpjCpf)" />
                    </div>
                    <div class="mb-3">
                        <label for="celular" class="form-label">Telefone Celular</label>
                        <InputText class="form-control" @bind-Value="@Model.Celular" placeholder="(00)00000-0000"></InputText>
                        <ValidationMessage For="@(() => Model.Celular)" />
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label"><em>*</em>Email</label>
                        <InputText class="form-control" @bind-Value="@Model.Email"></InputText>
                        <ValidationMessage For="@(() => Model.Email)" />
                    </div>
                    <div class="row mb-3">
                        <div class="col-2">
                            <a @onclick="@GoToUsuarios" class="btn btn-outline-primary">Voltar</a>
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-outline-success">Salvar</button>
                        </div>
                    </div>
                </EditForm>

                @if (!string.IsNullOrEmpty(Model._mensagem))
                {
                    <div class="row">
                        <div class="col">
                            <div class="alert alert-danger" role="alert">
                                @Model._mensagem
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card  mb-3">
            <div class="card-header">Nível de Acesso</div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="role" class="form-label"><em>*</em> Tipo de Usuário</label>
                        <select value="@RoleId" class="form-control mb-1" @onchange="ObterRoleSelecionada">
                            <option value="0">Selecione</option>
                            @foreach (var item in Roles!)
                            {
                                <option value="@item.Id">@item.Descricao</option>
                            }
                        </select>
                        <button class="btn btn-success" @onclick="AdicionarUsuarioRole">Adicionar</button>
                    </div>
                    <div class="col-6">
                        @if (Model.Roles.Count() == 0)
                        {
                            <strong>Sem registros</strong>
                        }
                        else
                        {
                            <ul class="list-group list-group-flush">
                                @foreach (var item in Model.Roles)
                                {
                                    <li class="list-group-item"><button class="btn btn-danger" @onclick="() => ExcluirUsuarioRole(item.Role.Id.ToString())">X</button>  @item.Role.Descricao </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Adicionar Permissões
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <label class="form-label">Perfil</label>
                    <select value="@PerfilId" class="form-control" @onchange="ObterPermissoes">
                        <option value="0">Selecione</option>
                        @foreach (var item in Perfis!)
                        {
                            <option value="@item.Id">@item.Nome</option>
                        }
                    </select>
                </div>
                <div class="row mb-3">
                    <label class="form-label">Permissões</label>
                    <select value="@PermissaoId" class="form-control" @onchange="ObterPermissaoSelecionada">
                        <option value="0">Selecione</option>
                        @foreach (var item in Permissoes!)
                        {
                            <option value="@item.Id">@item.Sistema</option>
                        }
                    </select>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success" @onclick="AdicionarPerfilPermissao">Adicionar</button>
            </div>
        </div>
        <br />
        <div class="card mb-3">
            <div class="card-header">
                Permissões
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Perfil</th>
                            <th scope="col">Permissão</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.UsuarioPerfis.Count() == 0)
                        {
                            <tr>
                                <th colspan="3">Sem registros</th>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model.UsuarioPerfis)
                            {
                                <tr>
                                    <td>@item.Perfil</td>
                                    <td>@item.Permissao</td>
                                    <td><button class="btn btn-danger" @onclick="() => ExcluirPerfilPermissao(item.PerfilId.ToString())">Excluir</button></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @if (!string.IsNullOrEmpty(Model._mensagemPerfil))
                {
                    <div class="row">
                        <div class="col">
                            <div class="alert alert-danger" role="alert">
                                @Model._mensagemPerfil
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


