
<div class="mb-3">
    <label class="form-label">Perfil</label>
    <InputSelect @bind-Value="PerfilId" class="form-control" @onchange="@LoadPermissoes">
        <option value="0">Selecione...</option>
        @foreach (var item in Perfis!)
        {
            <option value="@item.Id">@item.Nome</option>
        }
    </InputSelect>
</div>
<div class="mb-3">
    <label class="form-label">Sistema</label>
    <InputSelect @bind-Value="PermissaoId" class="form-control">
        <option value="0">Selecione...</option>
        @foreach (var item in Permissoes!)
        {
            <option value="@item.Id">@item.Sistema</option>
        }
    </InputSelect>
</div>
