@attribute [StreamRendering]

<div class="row">
    <EditForm Model="@Model" OnValidSubmit="OnValidateSubmit">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <label for="nome" class="form-label"><em>*</em>Nome</label>
            <InputText class="form-control" @bind-Value="@Model.Nome"></InputText>
            <ValidationMessage For="@(() => Model.Nome)" />
        </div>
        <div class="mb-3">
            <label for="cnpjcpf" class="form-label"><em>*</em>CPF</label>
            <InputText class="form-control" @bind-Value="@Model.CnpjCpf"></InputText>
            <ValidationMessage For="@(() => Model.CnpjCpf)" />
        </div>
        <div class="mb-3">
            <label for="celular" class="form-label">Telefone Celular</label>
            <InputText class="form-control" @bind-Value="@Model.Celular"></InputText>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label"><em>*</em>Email</label>
            <InputText class="form-control" @bind-Value="@Model.Email"></InputText>
            <ValidationMessage For="@(() => Model.Email)" />
        </div>
        <div class="mb-3">
            <label for="login" class="form-label"><em>*</em>Login</label>
            <InputText class="form-control" @bind-Value="@Model.Login"></InputText>
            <ValidationMessage For="@(() => Model.Login)" />
        </div>
        <div class="row">
            <div class="col-2">
                <a @onclick="@GoToUsuarios" class="btn btn-outline-primary">Voltar</a>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-outline-success">Salvar</button>
            </div>
        </div>
    </EditForm>
    @if (!string.IsNullOrEmpty(_mensagem))
    {
        <div class="row">
            <div class="col">
                <div class="alert alert-danger" role="alert">
                    @_mensagem
                </div>
            </div>
        </div>
    }
</div>
